<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>GetCommentsServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.GetCommentsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostCommentServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.PostCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostUserInfoServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.PostUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostUserLoginServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.PostUserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetApkIsPayServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.GetApkIsPayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateVersionServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.UpdateVersionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePayStateServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.UpdatePayStateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TranslateServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.TranslateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetIsPayByImeiServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.GetIsPayByImeiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetIsPayByUserIdServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.GetIsPayByUserIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApkInstallServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.ApkInstallServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPayResultByImeiorUseridServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.GetPayResultByImeiorUseridServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserNameServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.UpdateUserNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserPasswordServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.UpdateUserPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpAvatarServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.UpLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateAvatarLoadServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.UpLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetProductIdServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.GetProductIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecordProdctAbutUserServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.RecordProdctAbutUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QureyProductMessageServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.QureyProductMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOptionServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.GetOptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetOptionServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.SetOptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryMessageServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.QueryMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackLoginServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.BackLoginServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>PostDictionaryServlet</servlet-name>
    <servlet-class>com.szy.web.servlet.PostDictionaryServlet</servlet-class>
  </servlet>
  
   
      <servlet>
      <servlet-name>Language</servlet-name>
      <servlet-class>com.szy.web.servlet.LanguageServlet</servlet-class>
  </servlet>
    <servlet-mapping>
      <servlet-name>Language</servlet-name>
      <url-pattern>/language</url-pattern>
  </servlet-mapping> 
    <servlet>
      <servlet-name>notes</servlet-name>
      <servlet-class>com.szy.web.servlet.NoteServlet</servlet-class>
  </servlet>
    <servlet-mapping>
      <servlet-name>notes</servlet-name>
      <url-pattern>/note</url-pattern>
  </servlet-mapping> 
  
    
   
   
  <servlet-mapping>
    <servlet-name>PostDictionaryServlet</servlet-name>
    <url-pattern>/dictionary</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>TranslateServlet</servlet-name>
    <url-pattern>/traslate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCommentsServlet</servlet-name>
    <url-pattern>/getComments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostCommentServlet</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostUserInfoServlet</servlet-name>
    <url-pattern>/userregist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostUserLoginServlet</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetApkIsPayServlet</servlet-name>
    <url-pattern>/checkispay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateVersionServlet</servlet-name>
    <url-pattern>/updateversion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePayStateServlet</servlet-name>
    <url-pattern>/updatepaystate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetIsPayByImeiServlet</servlet-name>
    <url-pattern>/getispaybyimei</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetIsPayByUserIdServlet</servlet-name>
    <url-pattern>/getispaybyuserid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApkInstallServlet</servlet-name>
    <url-pattern>/installapk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPayResultByImeiorUseridServlet</servlet-name>
    <url-pattern>/payresult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserNameServlet</servlet-name>
    <url-pattern>/updatename</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserPasswordServlet</servlet-name>
    <url-pattern>/updatepassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpAvatarServlet</servlet-name>
    <url-pattern>/upAvatar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAvatarLoadServlet</servlet-name>
    <url-pattern>/updateAvatar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetProductIdServlet</servlet-name>
    <url-pattern>/getProductId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecordProdctAbutUserServlet</servlet-name>
    <url-pattern>/recordProdctAbutUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QureyProductMessageServlet</servlet-name>
    <url-pattern>/queryProductMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOptionServlet</servlet-name>
    <url-pattern>/getOption</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetOptionServlet</servlet-name>
    <url-pattern>/setOption</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryMessageServlet</servlet-name>
    <url-pattern>/qm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackLoginServlet</servlet-name>
    <url-pattern>/login_</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>